:root {
  --clr-1: #FF8B13;
  --clr-2: #CF4DCE;
}

* {
  margin: 0;
  padding: 0;
}

body {
  height: 100vh;
  display: grid;
  grid-template-columns: 100%;
  justify-items: center;
  align-items: center;
  background: linear-gradient(to right bottom, var(--clr-1), var(--clr-2));
}

.container {
  width: 80%;
  height: 95vh;
  background-color: #dadada;
}

/* ====================Front page==================== */
.front-page {
  display: grid;
  grid-template-columns: 30% 70%;
  gap: 1em;
}

.profile {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 1em;
}

.profile img {
  border-radius: 50%;
  width: 180px;
  height: 180px;
  object-fit: cover;
  border: 5px solid #fff;
}

.description {
}

/* ====================Gallery==================== */
.gallery {
  display: grid;
  grid-template-columns: 60px 60px 60px 60px 60px;
  grid-template-rows: 30px 30px 50px 45px;
  grid-auto-flow: row;
  grid-auto-flow: column;
}


.card1{
  background-color: antiquewhite;
  grid-column: 1;
  grid-row: 1/2;
}
.card2{
  background-color: aqua;
  grid-column: 2/4;
  grid-row: 1/2;
}
