@import url('https://fonts.googleapis.com/css2?family=Bayon&family=Varela+Round&display=swap');

:root {
  --clr-gray: #888585;

  --clr-black: #000;
  --clr-white: #fff;

  --ff-primary: 'Bayon', sans-serif;
  --ff-secondary: 'Varela Round', sans-serif;
}

* {
  margin: 0;
  padding: 0;
}

body {
  background-color: var(--clr-black);
  color: var(--clr-white);
}

/* ===== CONTAINER ===== */
.color {
  width: 100%;
  height: 100vh;
  background: linear-gradient(to top, #000, transparent);
  position: fixed;
  z-index: 1;
}

.container {
  height: 100vh;
  display: grid;
  grid-template-columns: 100%;
  padding: 0 2em 0 2em;
  box-sizing: border-box;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}

/* ===== HEADER ===== */
.container-header {
  height: 50vh;
  display: grid;
  grid-template-columns: 95%;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  /* position: inherit; */
  z-index: 100;
}

.header-card {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.h-card-title {
  font-size: 5rem;
  letter-spacing: 0.5rem;
}

.title-block {
  display: block;
}

.h-card-description {
  width: 70%;
  font-size: 1.5rem;
}

.btn {
  font-weight: bold;
  border-radius: 0.5em;
  border: transparent;
  color: hsl(0, 0%, 100%);
  padding: 0.8rem 1rem 0.8rem 1rem;
  cursor: pointer;
  font-size: 0.8rem;
  width: 175px;
  text-transform: capitalize;
  display: flex;
  justify-content: center;
  gap: 1rem;
  transition: all 0.5s ease-in;
}

.btn-dark-cyan {
  background: hsl(0, 0%, 100%);
  border: 2px solid hsl(0, 0%, 95%);
  color: hsl(179, 100%, 13%);
}

.btn-dark-cyan:hover {
  border: 2px solid hsl(0, 0%, 100%);
  color: hsl(0, 0%, 100%);
  background: hsl(0, 0%, 8%);
}

/* ===== GALLERY===== */
.container-gallery {
  height: 50vh;
  display: grid;
  grid-template-columns: 100%;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  /* position: inherit; */
  z-index: 100;
}

.gallery-title {
  text-transform: capitalize;
  font-size: 2em;
  font-weight: 600;
  color: var(--clr-white);
}

.gallery-card {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 15%));
  justify-content: space-between;
  align-content: center;
  gap: 1rem;
}

.g-card-image img {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  height: 40vh;
  object-fit: cover;
  border-radius: 0.5rem;
}

/* ===== RESPONSIVO ===== */
@media (max-width: 900px) {
  .h-card-title {
    font-size: 2rem;
    letter-spacing: 0.1rem;
  }

  .title-block {
    display: contents;
  }

  .h-card-description {
    width: 100%;
    font-size: 1rem;
  }

  .btn {
    width: 100px;
    padding: 0.5rem;
  }

  .container-gallery {
    display: none;
  }
}